body {
  height: 100%;
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("fern2.jpg");
  background-size: cover;
}

#nav {
  max-width: 800px;
  margin: 20px auto 20px auto;
}

.nav-link:hover {
  color: deepskyblue;
}

.was-validated .form-control:valid {
    background-image: none!important;
}

.was-validated .form-control:invalid {
    background-image: none!important;
}

.form-control.is-invalid{
    background-image: none;
}